@page
@model EmployeesCRUD.Pages.JobOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobOrdersTable[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOrdersTable[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOrdersTable[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOrdersTable[0].OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOrdersTable[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOrdersTable[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobOrdersTable) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobOrdersId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobOrdersId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobOrdersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
